---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";

---

<Layout title={pageTitle}>
	<main class="wrapper articles">
		{
			allPosts.map((post) => (
				<div class="article-post">
					<a href={`/posts/${post.slug}/`}>
						<Image
							src={post.data.image}
							alt={post.data.imageAlt}
							class="post-index-card-image"
						/>
						{post.data.title}
					</a>
					<div class="post-details">
						<p>{post.data.description}</p>
						<p class="post-date">{post.data.pubDate.toDateString()}</p>	
					</div>
				</div>
			))
		}
	</main>
</Layout>

<script>
	import { inView, animate } from "motion";

	function setupAnimations() {
		inView("section", ({ target }) => {
			if (!target.querySelector(".animated")) {
				return;
			}
			animate(
				// @ts-ignore
				target.querySelector(".animated"),
				{ opacity: 1, transform: "none" },
				{ delay: 0.2, duration: 0.8, easing: [0.17, 0.55, 0.55, 1] },
			);
		});
	}

	// hook animations up to View Transitions via after-swap lifecycle hook
	document.addEventListener("astro:page-load", () => {
		setupAnimations();
	});

	setupAnimations();
</script>

<style>
	main {
		margin-top: 9rem;
	}
	.post-index-card-image {
		height: auto;
		max-height: 12rem;
	}
</style>