---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const featuredPost = allPosts.find((post) => post.data.featured);
const pageTitle = "Blog posts";
---

<Layout title={pageTitle}>
	<section>
		<h1 id="page-title" class="animated">posts</h1>
	</section>
	<main class="wrapper articles">
		{
			featuredPost && (
				<div class="article-post hero-post">
					<div class="post-details">
						<div class="featured-post-label">
							Featured post
						</div>
						<a href={`/posts/${featuredPost.slug}/`}>
							{featuredPost.data.title}
						</a>
						<p>{featuredPost.data.description}</p>
						<p class="post-date">
							{featuredPost.data.pubDate.toDateString()}
						</p>
					</div>
					<div class="article-image">
						<a href={`/posts/${featuredPost.slug}/`}>
							<Image
								src={featuredPost.data.image}
								alt={featuredPost.data.imageAlt}
								class="post-index-card-image"
								onload="this.style.opacity=1; this.style.filter='grayscale(0)'"
							/>
						</a>
					</div>
				</div>
			)
		}

		{
			allPosts && allPosts.filter((post) => {return post !== featuredPost}).map((post) => (
				<div class="article-post">
					<div class="post-details">
						<a href={`/posts/${post.slug}/`}>{post.data.title}</a>
						<p>{post.data.description}</p>
						<p class="post-date">
							{post.data.pubDate.toDateString()}
						</p>
					</div>
					<div class="article-image">
						<a href={`/posts/${post.slug}/`}>
							<Image
								src={post.data.image}
								alt={post.data.imageAlt}
								class="post-index-card-image"
								onload="this.style.opacity=1; this.style.filter='grayscale(0)'"
							/>
						</a>
					</div>
				</div>
			))
		}
	</main>
</Layout>

<script>
	import { inView, animate } from "motion";

	function setupAnimations() {
		inView("section", ({ target }) => {
			if (!target.querySelector(".animated")) {
				return;
			}
			animate(
				// @ts-ignore
				target.querySelector(".animated"),
				{ opacity: 1, transform: "none" },
				{ delay: 0.2, duration: 0.8, easing: [0.17, 0.55, 0.55, 1] },
			);
		});
	}

	// hook animations up to View Transitions via after-swap lifecycle hook
	document.addEventListener("astro:page-load", () => {
		setupAnimations();
	});

	setupAnimations();
</script>

<style>
	main {
		margin-top: 3rem;
	}
	.post-index-card-image {
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		-ms-transition: all 2s ease;
		-o-transition: all 2s ease;
		height: auto;
		opacity: 0;
		filter: grayscale(1);
	}
	.articles {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(380px, 2fr));
		grid-auto-rows: auto;
		justify-content: start;
		justify-items: stretch;
		gap: 2rem;

		.article-post {
			overflow: hidden;
			grid-column: auto;
			padding: 1rem 0rem 3rem 0rem;
			border-bottom-style: solid;
			border-top-style: solid;
			border-color: #dddddd;

			p {
				margin-top: 0.6rem;
				line-height: 1.2;
				font-size: clamp(0.98rem, 1.8vw, 1.1rem);
			}
			a {
				color: inherit;
				font-weight: bolder;
				line-height: 1;
				font-size: 1.55rem;
				text-decoration: none;
			}
			img {
				border-radius: 12px;
			}

			.post-date {
				font-size: 0.8rem;
				color: #a0a0a0;
				font-family: monospace;
			}
			.post-details {
				position: relative;
				margin-top: 10rem;
				max-width: 23rem;
				z-index: 3;
				position: absolute;
			}
			.article-image {
				-webkit-transition: all 1.2s ease;
				-moz-transition: all 1.2s ease;
				-ms-transition: all 1.2s ease;
				-o-transition: all 1.2s ease;

				margin: 0px auto;
				transform: scale(1);
				translate: 0px 0px;
				height: 14em;
				mask-image: radial-gradient(
					ellipse 193% 51% at 65% 9%,
					black 30%,
					transparent 113%
				);
				z-index: 2;

				&:hover {
					transform: scale(1.005);
					translate: 0px -2px;
				}

				@media (max-width: 650px) {
					mask-image: radial-gradient(ellipse 63% 41% at 75% 9%,black 0%,transparent 123%);
				}
			}
			.article-image:hover {
				transform: scale(1.005);
				translate: 0px -2px;
			}
			.featured-post-label {
				background-color: #393fff;
				width: 8rem;
				text-align: center;
				padding: 0.2rem 0.5rem;
				border-radius: 0.8rem;
				margin: 0.5rem 0;
				font-size: 0.8rem;
				font-weight: 600;
				color: #ffffff;
				box-shadow: -3px 1px 12px 1px #0039ff6b;
			}
		}

		.hero-post {
			grid-column: 1 / -1;

			.post-details {
				margin-top: 2rem;
				max-width: 610px;

				@media (max-width: 850px) {
					margin-top: 6rem;
					max-width: 410px;
				}
			}
			.article-image {
				height: 22rem;
				mask-image: radial-gradient(
					ellipse 113% 91% at 125% 50%,
					black 60%,
					transparent 105%
				);

				&:hover {
					transform: scale(1.005);
					translate: 0px -2px;
				}

				@media (max-width: 850px) {
					mask-image: radial-gradient(ellipse 63% 41% at 75% 9%,black 0%,transparent 123%);
				}
			}
			a {
				font-size: 3.2rem;
				font-weight: 600;
				text-decoration: none;

				@media (max-width: 650px) {
					font-size: 3.2rem;
				}
			}
			p {
				font-size: 1.4rem;
				margin-top: 1.23rem;
			}
		}
	}

	html.dark > body > .articles > .article-post {
		border-color: #6c6c6c;
	}
</style>
