---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";

---

<Layout title={pageTitle}>
	<main class="wrapper articles">
		{
			allPosts.map((post) => (
				<div class="article-post">
					<a href={`/posts/${post.slug}/`}>
						<Image
							src={post.data.image}
							alt={post.data.imageAlt}
							class="post-index-card-image"
						/>
						{post.data.title}
					</a>
					<div class="post-details">
						<p>{post.data.description}</p>
						<p class="post-date">{post.data.pubDate.toDateString()}</p>	
					</div>
				</div>
			))
		}
	</main>
</Layout>

<script>
	import { inView, animate } from "motion";

	function setupAnimations() {
		inView("section", ({ target }) => {
			if (!target.querySelector(".animated")) {
				return;
			}
			animate(
				// @ts-ignore
				target.querySelector(".animated"),
				{ opacity: 1, transform: "none" },
				{ delay: 0.2, duration: 0.8, easing: [0.17, 0.55, 0.55, 1] },
			);
		});
	}

	// hook animations up to View Transitions via after-swap lifecycle hook
	document.addEventListener("astro:page-load", () => {
		setupAnimations();
	});

	setupAnimations();
</script>

<style>
	main {
		margin-top: 9rem;
	}
	.post-index-card-image {
		height: auto;
		max-height: 12rem;
	}
	.articles {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-auto-rows: auto;
		grid-gap: 1rem;
	
		.article-post {
			padding: 1rem;
			border: 1px solid #ccc;
			border-radius: 5px;
			grid-column: auto;
			
			p {
				margin-top: 1rem;
			}
			a {
				color: inherit;
				font-weight: bolder;
			}
			img {
				border-radius: 12px;
			}

			.post-date {
				font-size: 0.8rem;
				color: #666;
			}
			.post-details {
				margin-top: 1rem;
			}
		}
	}
</style>
