---
import ThemeToggle from "../components/ThemeToggle.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import siteConfig from "../site-config";
import "../styles/global.css";

// define types
export type Props = {
	title?: string;
	description?: string;
	image?: { src: string; alt?: string };
	pageType?: "website" | "article";
};

// get props data
const {
	description = siteConfig.description,
	title = siteConfig.title,
	pageType = siteConfig.pageType,
	image = siteConfig.image,
} = Astro.props;

const canonicalURL = new URL(Astro.request.url, Astro.site);

let resolvedImage = undefined;
try {
	resolvedImage = image?.src
		? {
				src: new URL(image.src, Astro.site).toString(),
				alt: image.alt,
			}
		: undefined;
} catch {
	resolvedImage = undefined;
}

function formatCanonicalURL(url: string | URL) {
	const path = url.toString();
	const hasQueryParams = path.includes("?");
	// If there are query params, make sure the URL has no trailing slash
	if (hasQueryParams) {
		path.replace(/\/?$/, "");
	}
	// otherwise, canonical URL always has a trailing slash
	return path.replace(/\/?$/, hasQueryParams ? "" : "/");
}
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Page Metadata -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="canonical" href={formatCanonicalURL(canonicalURL)} />
		<title>{title}</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
			rel="stylesheet"
		/>

		<!-- Low Priority Global Metadata -->
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			href="/rss.xml"
			title="RSS"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content={pageType} />
		<meta property="og:url" content={formatCanonicalURL(canonicalURL)} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		{
			resolvedImage?.src && (
				<meta property="og:image" content={resolvedImage.src} />
			)
		}
		{
			resolvedImage?.alt && (
				<meta property="og:image:alt" content={resolvedImage.alt} />
			)
		}

		<!-- X/Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:url"
			content={formatCanonicalURL(canonicalURL)}
		/>
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		{
			resolvedImage?.src && (
				<meta property="twitter:image" content={resolvedImage.src} />
			)
		}
		{
			resolvedImage?.alt && (
				<meta name="twitter:image:alt" content={resolvedImage?.alt} />
			)
		}

		<script>
			if (localStorage.theme === "dark") {
				document.documentElement.classList.add("dark");
			}
		</script>

		<script>
			import Lenis from "lenis";
			declare const window: any;

			const lenis = new Lenis({
				prevent: (test) => {
					return false;
				},
			});

			window.lenis = lenis;

			function raf(time: number) {
				lenis.raf(time);
				requestAnimationFrame(raf);
			}

			requestAnimationFrame(raf);
		</script>

		<ViewTransitions />
	</head>

	<body>
		<a id="main-icon-link" href="/">
			<img id="site-icon" src="/favicon.png" />
		</a>
		<div class="navmenu-container" id="nav-menu">
			<div>
				<div id="top-nav-links" class="nav-links">
					<a href="/work" class="nav-link">work</a>
					<a href="/posts" class="nav-link">posts</a>
				</div>
			</div>
			<ThemeToggle class="theme-toggle-container" />
		</div>

		<slot />

		<Footer />
	</body><style>
		#main-icon-link {
			position: relative;
			z-index: 100;
		}
		#site-icon {
			height: 2.6rem;
			margin: 1rem 0rem 0rem 1rem;
			position: fixed;
			z-index: 100;
			border: 1px solid #ffffff;
		}
		#nav-menu {
			position: relative;

			display: flex;
			justify-content: space-between;
			padding: 1rem;
			max-width: 750px;
			margin: auto;
			z-index: 10;
		}
		.nav-link {
			border: 1px solid #000000;
			margin: 0rem 0rem 0rem 0rem;
			top: -0.3rem;
			position: relative;
			padding: 0.5rem 0.8rem 0.8rem 0.8rem;
			background: #ffffff;
			cursor: pointer;
			border-radius: 6px;
			font-family: "IBM Plex Mono", sans-serif;
			font-size: 1.2rem;
		}
		html.dark > body > div > div > div > a.nav-link {
			background: #0400ff;
			border: 1px solid #ffffff;
			color: #ffffff;
		}
	</style>
</html>
